build/
.vs/
out/
.vscode/
CMakeCache.txt
CMakeFiles/
*.dir/
*.exe
*.obj
*.pdb
*.ilk
*.lib
*.dll
*.pdb
.cache/
*.log

# Ignore local audit reports
/audit_reports/

# PyInstaller
core/build/
core/dist/
*.spec

# Python
__pycache__/
*.pyd
*.pyc

# Agents
AGENTS.md
agents.md
